<!DOCTYPE html>
<!--adding the thymeleaf namespace-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of translations</title>
</head>
<body>

<table>
    <tr>
        <th>ID</th>
        <th>Language</th>
        <th>Original message</th>
        <th>Translated message</th>
    </tr>
    <!--/*@thymesVar id="translations" type="java.lang.Iterable"*/-->
    <!--/*@thymesVar id="translation" type="com.comtrade360.assignment.data.Translation"*/-->
    <tr th:each="translation : ${translations}">
        <!--/*@thymesVar id="id" type="java.lang.Long"*/-->
         <td th:text="${translation.id}">1</td>
        <!--/*@thymesVar id="language" type="java.lang.String"*/-->
        <td th:text="${translation.language}">en</td>
        <!--/*@thymesVar id="originalMessage" type="java.lang.String"*/-->
        <td th:text="${translation.originalMessage}">Hello World</td>
        <!--/*@thymesVar id="translatedMessage" type="java.lang.String"*/-->
        <td th:text="${translation.translatedMessage}">Hello World</td>
    </tr>
</table>

</body>
</html>